@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient("to top right", #7a15fd, #f079a9);

    --background: 283 63.699999999999996% 4.32%;
    --foreground: 283 9.8% 97.7%;

    --muted: 283 49% 16.200000000000003%;
    --muted-foreground: 283 9.8% 55.4%;

    --popover: 283 45.4% 7.0200000000000005%;
    --popover-foreground: 283 9.8% 97.7%;

    --card: 283 45.4% 7.0200000000000005%;
    --card-foreground: 283 9.8% 97.7%;

    --border: 283 49% 16.200000000000003%;
    --input: 283 49% 16.200000000000003%;

    --primary: 283 98% 54%;
    --primary-foreground: 283 9.8% 5.4%;

    --secondary: 283 49% 16.200000000000003%;
    --secondary-foreground: 283 9.8% 97.7%;

    --accent: 283 49% 16.200000000000003%;
    --accent-foreground: 283 9.8% 97.7%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 283 9.8% 97.7%;

    --ring: 283 98% 54%;

    --radius: 1rem;
  }
}

.bg-gradient {
  background: var(--gradient);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.animate-gradient {
  background-size: 200%;
  -webkit-animation: animatedgradient 15s ease infinite;
  -moz-animation: animatedgradient 15s ease infinite;
  animation: animatedgradient 15s ease infinite;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
